<div ng-app="CheckoutCtrl">
    <div flex="100">
        <h2>Checkout</h2>

        <md-content layout-padding>
            <div>
                <form name="checkoutForm" action="/charge" method="post" id="payment-form">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>First name</label>
                            <input ng-model="user.firstName" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Last name</label>
                            <input ng-model="user.lastName" required>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Address</label>
                            <input ng-model="user.address" required>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="user.postalCode" placeholder="123456" required md-maxlength="6">

                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row" class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                    </div>
                    <div>
                        <div style="width: 30em" id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <!-- Used to display form errors. -->
                        <span style="width: 30em; height: 2em; letter-spacing: 0em" id="card-errors" role="alert"></span>
                    </div>
                    <br>
                    <md-button type="submit" class="md-raised md-primary">Checkout</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>