<div layout="column" style="height:500px;" ng-cloak>
    <br>
        <div flex="45">
            <md-content flex layout-padding>
                <main class="mdl-layout__content">
                    <div class="mdl-grid">
                        <md-button ng-repeat="fashionItem in fashionArr track by $index"
                                   class="mdl-card mdl-cell mdl-cell--3-col-tablet mdl-shadow--2dp"
                                   style="max-height: 400px"
                                   ng-click="selectItem($event, fashionItem, $index)">
                            <figure class="mdl-card__media">
                                <img ng-src="{{fashionItem.imageUrl}}"
                                     style="max-height: 250px; height:200px; max-width:300px"/>
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">{{fashionItem.name}}</h1>
                            </div>
                        </md-button>
                    </div>
                </main>

            </md-content>

        </div>
    </div>
</div>
