<div layout="column" style="height:500px;" ng-cloak>
    <br>
    <div layout="row" layout-wrap>
        <div flex="50">
            <md-toolbar class="md-theme-indigo " style="background:#575757" layout-align="center center">
                <div>
                    <table>
                        <tr>
                            <td>
                                <i class="material-icons" style="font-size:50px">shopping_cart</i>
                            <td>
                                <h3>Cart</h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <table class="table table-responsive" style="border:none; border-top:none">
                    <thead>
                    <tr>
                        <!--align="center"-->
                        <th>Food</th>
                        <th><b>Size</b></th>
                        <th><b>Quantity</b></th>
                        <th><b>Price</b></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="foodItem in foodList.slice().reverse() track by $index">
                        <!--<tr ng-repeat="foodItem in foodList track by $index">-->
                        <td>
                            <div style="font-size:large">{{foodItem[0]}}</div>
                        </td>

                        <td>
                            <div flex="100" flex-gt-sm="50" layout="column">
                                <div>
                                    <fieldset class="standard">
                                        <table>
                                            <!--<div layout="column" layout-wrap flex>-->
                                            <tr style="height:55px">
                                                <td>
                                                    <md-checkbox value="s" ng-model="checkBox[foodItem[0]]['s']"
                                                                 style="font-size:large"
                                                                 ng-change="calculateCheck(checkBox, foodItem, foodList, 's')">
                                                        Small
                                                    </md-checkbox>
                                                </td>
                                            </tr>
                                            <tr style="height:55px">
                                                <td>
                                                    <md-checkbox value="m" ng-model="checkBox[foodItem[0]]['m']"
                                                                 style="font-size:large"
                                                                 ng-change="calculateCheck(checkBox, foodItem, foodList, 'm')">
                                                        Medium
                                                    </md-checkbox>
                                                </td>
                                            </tr>
                                            <tr style="height:55px">
                                                <td>
                                                    <md-checkbox value="l" ng-model="checkBox[foodItem[0]]['l']"
                                                                 style="font-size:large"
                                                                 ng-change="calculateCheck(checkBox, foodItem, foodList, 'l')">
                                                        Large
                                                    </md-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div layout="column">
                                <!--SMALL-->
                                <div layout="row" align="center" style="height:55px">
                                    <md-button class="md-icon-button" ng-disabled="!checkBox[foodItem[0]]['s']"
                                               ng-click="addQty($index, foodItem, foodList, 's')">
                                        <i class="material-icons" style="color:#62BC7A; font-size:30px; outline:none;"
                                           align="left">add</i>
                                    </md-button>
                                    &nbsp;&nbsp;
                                    <input type="text"
                                           style="width:45px; height:40px;font-size:large;text-align: center"
                                           value="{{foodItem[1]['s']['qty']}}"
                                           ng-disabled="!checkBox[foodItem[0]]['s']"/>
                                    &nbsp;&nbsp;
                                    <md-button class="md-icon-button" ng-disabled="!checkBox[foodItem[0]]['s']"
                                               ng-click="lessQty($index, foodItem, foodList,'s')">
                                        <i class="material-icons" style="color:#D65555;font-size:30px; outline:none;">remove</i>
                                    </md-button>
                                </div>

                                <!--MEDIUM-->
                                <div layout="row" align="center" style="height:55px"
                                     ng-disabled="!checkBox[foodItem[0]]['m']">
                                    <md-button class="md-icon-button" ng-click="addQty($index, foodItem, foodList,'m')"
                                               ng-disabled="!checkBox[foodItem[0]]['m']">
                                        <i class="material-icons" style="color:#62BC7A;font-size:30px; outline:none;"
                                           align="left">add</i>
                                    </md-button>
                                    &nbsp;&nbsp;
                                    <input type="text"
                                           style="width:45px;height:40px; font-size:large;text-align: center"
                                           value="{{foodItem[1]['m']['qty']}}"
                                           ng-disabled="!checkBox[foodItem[0]]['m']"/>
                                    &nbsp;&nbsp;
                                    <md-button class="md-icon-button" ng-click="lessQty($index, foodItem, foodList,'m')"
                                               ng-disabled="!checkBox[foodItem[0]]['m']">
                                        <i class="material-icons" style="color:#D65555;font-size:30px;outline:none;"
                                        >remove</i>
                                    </md-button>
                                </div>

                                <!--LARGE-->
                                <div layout="row" align="center" style="height:55px">
                                    <md-button class="md-icon-button" ng-disabled="!checkBox[foodItem[0]]['l']"
                                               ng-click="addQty($index, foodItem, foodList,'l')">
                                        <i class="material-icons" style="color:#62BC7A;font-size:30px; outline:none;"
                                           align="left">add</i>
                                    </md-button>
                                    &nbsp;&nbsp;
                                    <input type="text"
                                           style="width:45px; height:40px; font-size:large;text-align: center"
                                           value="{{foodItem[1]['l']['qty']}}"
                                           ng-disabled="!checkBox[foodItem[0]]['l']"/>
                                    &nbsp;&nbsp;
                                    <md-button class="md-icon-button" ng-click="lessQty($index, foodItem, foodList,'l')"
                                               ng-disabled="!checkBox[foodItem[0]]['l']">
                                        <i class="material-icons" style="color:#D65555;font-size:30px; outline:none;">remove</i>
                                    </md-button>
                                </div>
                            </div>

                        </td>
                        <td>
                            <div layout="column">
                                <div style="height:59px">
                                    <!--<input type="text" style="width:80px; font-size:large;text-align: left"-->
                                    <!--value="${{foodItem[3]}}"/>-->
                                    <label style="font-size:large;text-align:left;">${{foodItem[1]['s']['amount']}}</label>
                                </div>
                                <div style="height:59px">
                                    <!--<input type="text" style="width:80px; font-size:large;text-align: left"-->
                                    <!--value="${{foodItem[3]}}"/>-->
                                    <label style="font-size:large;text-align:left;">${{foodItem[1]['m']['amount']}}</label>
                                </div>
                                <div style="height:59px">
                                    <!--<input type="text" style="width:80px; font-size:large;text-align: left"-->
                                    <!--value="${{foodItem[3]}}"/>-->
                                    <label style="font-size:large;text-align:left;">${{foodItem[1]['l']['amount']}}</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <md-button class="md-icon-button"
                                       ng-click="removeItem(foodItem, foodList, $index)">
                                <i class="material-icons" style="color:#C90B0B;font-size:20px; outline:none;"
                                   align="left">close</i>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>


                </table>

                <md-divider ng-if="foodList.length!==0"></md-divider>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h2><b>Total</b></h2>
                    </div>
                    <div class="md-secondary">
                        <h2>${{totalPrice}}</h2>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-button class="md-raised md-primary" style="height:50px; font-size:x-large"
                           ng-click="processCheckout(foodList, totalPrice, checkBox)">Checkout
                </md-button>
                <!--</md-list>-->


            </md-content>
        </div>
        <div flex="45">
            <md-content flex layout-padding>
                <main class="mdl-layout__content">
                    <div class="mdl-grid">

                        <md-button ng-repeat="food in menuArr track by $index"
                                   class="mdl-card mdl-cell mdl-cell--2-col-tablet mdl-shadow--2dp"
                                   style="max-height: 400px"
                                   ng-click="selectFood($event, food, $index, foodList, checkBox)">
                            <figure class="mdl-card__media">
                                <img ng-src="{{food.imageUrl}}"
                                     style="max-height: 250px; height:200px; max-width:300px"/>
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">{{food.name}}</h1>
                            </div>
                        </md-button>
                    </div>
                </main>

            </md-content>

        </div>
    </div>
</div>
