<!--<md-dialog ng-controller="CheckoutController" class="enlarged-dialog">-->
<md-dialog ng-controller="CheckoutController"
           style="max-width: 100%;max-height: 100%;width: 50%;height: 80%;border-radius: 0;">
    <form ng-cloak>
        <md-dialog-content flex>
            <div class="md-dialog-content">
                <!--<md-input-container flex>-->
                <!--<label class="">Title</label>-->
                <!--<input type="text" name="title" ng-model="editPostData.title" required>-->
                <!--</md-input-container>-->
                <!--<md-input-container class="md-icon-float md-icon-right md-block" flex>-->
                <h3>Total Amount</h3>
                <label style="font-size:x-large">{{totalPrice}}</label>
                <md-divider></md-divider>
                <h4>Paid Amount</h4>
                <input type="number" class="form-control" style="font-size:x-large" ng-model="paidAmount" ng-change="calculateChange(totalPrice, paidAmount)"/>
                <br>
                <md-divider></md-divider>
                <h4>Change</h4>
                <label style="font-size:x-large">{{changeAmount}}</label>
                <md-divider></md-divider>
            </div>

            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-click="confirmPayment()">
                    Confirm Payment
                </md-button>
                <md-button ng-click="cancelPayment()">
                    Cancel Payment
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>