<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        Congratulations! You have discovered a Raid! <br>

        Click <a href="/raidParticipation">here</a> to start the raid to immediately enjoy a 10% discount<br>
        
        How does it work?<br>
        Invite more people to take part in this raid by sharing the link
        <div class="fb-share-button" 
            data-href={{shareURL}} 
            data-layout="button">
        </div>
        <br> 
        Every subsequent person purchases the same item will contribute to a group discount that everyone is entitled to (yes on top of your 10%)<br>
</body>
</html>