<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body >
    <h1 style="text-align: center">Raid Evaluation</h1>
    <div style="display: flex ; flex: 1;">
        <div style="flex: 3; height: 300px;  background-color: red;"></div>
    </div>
    <br>    
    <div style="flex: 1; color:rgb(55, 54, 54); padding: 20px;">
            Original Price: {{price}} <br>
            Individual Discount: {{individualDiscount}}<br>
            Group Discount: {{groupDiscount}}<br>
            Shipping: {{shipping}}<br>
            <hr text-align= "center" width="10%">
            Total: {{total}}<br>
    </div>


</body>
</html>