<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div class="container">
    <!--<div class="mdl-card__actions" ng-click="" style="width:5%">Back</div>-->
    <br>
    <br>
    <!--<div ng-repeat="items in selectedItem">-->
    <div layout="row" layout-wrap>
        <img ng-src="{{selectedItem.imageUrl}}" style="margin: auto;width: 60%;border: 3px;padding: 10px;"/>
        <!--<div layout="column" ng-cloak style="width:500px">-->
            <!--<md-input-container class="md-block" flex-gt-sm>-->
                <!--<label>Size</label>-->
                <!--<md-select ng-model="">-->
                    <!--<md-option ng-repeat="(key, value) in items.size" value="{{}}">-->
                        <!--{{key}} : {{value}}-->
                    <!--</md-option>-->
                <!--</md-select>-->
            <!--</md-input-container>-->
        <!--</div>-->
    </div>

    <!--</div>-->
</div>
</body>
</html>

