<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div class="container">
    <!--<div class="mdl-card__actions" ng-click="" style="width:5%">Back</div>-->
    <br>
    <br>
    <!--<div ng-repeat="items in selectedItem">-->
    <table>
        <tr>
            <td>
                <div layout="row" layout-wrap>
                    <img ng-src="{{selectedItem.imageUrl}}"
                         style="margin: auto;width:80%;height:80%;border: 3px;padding: 10px;"/>
                </div>
            </td>
            <td>
                <!--<md-input-container class="md-block md-body-2" style="width:500px">-->
                <b>Dimensions:</b>
                {{dimensions.length}}x{{dimensions.width}}x{{dimensions.height}} mm
                <br>
                Quantity
                <md-select ng-model="quantity" style="width:100px">
                    <md-option value="1" selected>1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                </md-select>
                <md-button class="md-raised md-primary" ng-click="processAddToCart(quantity, selectedItem)">Add To Cart</md-button>
                <!--</md-input-container>-->
            </td>
        </tr>
        <tr>
            <td>


            </td>
        </tr>

    </table>

    <!--</div>-->
</div>
</body>
</html>

